[Unit] 
Description=DotNet Core application on AWS Linux 

[Service] 
WorkingDirectory=/home/user-1/Api
ExecStart=/usr/local/bin/dotnet MobileEquations.WebApi.dll
Restart=always 
RestartSec=10
SyslogIdentifier=offershare-web-app
Environment=ASPNETCORE_ENVIRONMENT=Production 

[Install] 
WantedBy=multi-user.target